@import url('https://fonts.googleapis.com/css?family=Muli');

.section {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  min-width: 425px;
  width: 100%;
  background-color: #379683;
}

.text {
  color: #8EE4AF;
}

.heading {
  font-size: 2.25rem;
  margin: 0;
}

.subheading {
  font-size: 1.6rem;
  margin: 10px 0;
}

.imageTextContainer {
  width: 100%;
}

.image {
  max-height: 70vh;
  width: 90%;
  margin: 5px 5%;
  border-radius: 50%;
  border: 10px outset #8EE4AF;
}

.maintext {
  font-size: 1.1rem;
  width: 100%;
  font-family: 'Muli', georgia, serif;
}

.iconContainer {
  width: 100%;
}

.icon {
  color: #8EE4AF;
  margin: 0 5%;
  vertical-align: middle;
}

.icon:hover {
  color:  #05386B;
}

@media screen and (min-width: 768px) {
  .heading {
    margin-top: 20px;
    text-indent: 5%;
  }

  .subheading {
    text-indent: 5%;
  }

  .image {
    width: 30%;
    margin-top: 35px;
    float: right;
  }

  .maintext {
    width: 55%;
    font-size: 1.4rem;
    margin-top: 10px;
    float: left;
    margin-left: 5%;
  }

  .iconContainer {
    width: 20%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 900px) {
  .heading {
    margin-top: 25px;
  }

  .image {
    margin-top: 50px;
  }

  .maintext {
    margin-top: 50px;
  }
}
