@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.section {
  margin: 0;
  min-height: 100vh;
  min-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5CDB95;
  /*
  background-image: -ms-linear-gradient(bottom left, #13547A 0%, #80D0C7 100%);
  background-image: -moz-linear-gradient(bottom left, #13547A 0%, #80D0C7 100%);
  background-image: -o-linear-gradient(bottom left, #13547A 0%, #80D0C7 100%);
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #13547A), color-stop(100, #80D0C7));
  background-image: -webkit-linear-gradient(bottom left, #13547A 0%, #80D0C7 100%);
  background-image: linear-gradient(to top right, #13547A 0%, #80D0C7 100%);
  */
}

.nameJobContainer {
  max-width: 50%;
  color: #EDF5E1;
}

.name {
  text-align: center;
  margin: 0;
  font-size: 2.25em;
}

.lineBreak {
  margin: 10px 10%;
  border: 0; 
  height: 10px; 
  background-color: #379683;
  background-image: -webkit-linear-gradient(left, #379683, #8c8b8b, #379683);
  background-image: -moz-linear-gradient(left, #379683, #8c8b8b, #379683);
  background-image: -ms-linear-gradient(left, #379683, #8c8b8b, #379683);
  background-image: -o-linear-gradient(left, #379683, #8c8b8b, #379683);
}

.jobTitle {
  text-align: center;
  margin: 0;
  font-size: 1.6em;
  font-family: 'Major Mono Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
