@import url('https://fonts.googleapis.com/css?family=Raleway:900i');

.section {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  min-width: 425px;
  width: 100%;
  background-color: #379683;
}

.heading {
  color: #5CDB95;
  text-align: center;
  font-size: 2.25rem;
  margin: 0;
  padding-bottom: 5px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectBox {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #05386B;
}

.projectImage {
  width: 100%;
  margin-bottom: 5px;
}

.projectName {
  margin-bottom: 5px;
  color: #5CDB95;
  padding-bottom: 5px;
  border-bottom: 2px solid #5CDB95;
  font-size: 1.3rem;
}

.github {
  color: #EDF5E1;
  margin-left: 10px;
}

.github:hover {
  color: #5CDB95;
}

.projectDescription {
  font-size: 1rem;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: 'Muli';
  font-weight: bold;
  color: #EDF5E1;
}

.projectSkillsContainer {
  width: 100%;
}

.projectSkill {
  font-size: .7rem;
  font-weight: bold;
  font-family: 'Muli';
  background-color: #379683;
  float: left;
  padding: 3px 7px;
  margin: 2px 5px;
  border-radius: 5px;
  border: 3px solid #EDF5E1;
  color: #EDF5E1;
}

.githubButtonContainer {
  width: 100%;
  margin: 15px 0 5px 0;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}

.githubButton {
  border: 5px solid #5CDB95;
  padding: .5em 1em;
  border-radius: 290486px;
  background-color: #05386B;
  color: #5CDB95;
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  margin-top: 10px;
}

.githubButton:hover {
  border-color: #EDF5E1;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .heading {
    margin-top: 20px;
  }

  .projectBox {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  .heading {
    margin-top: 20px;
  }

  .projectBox {
    width: 30%;
  }
}
